/* Based on https://github.com/alxndr13/wofi-nord-theme */

* {
    font-family: "Noto Sans";
}

window {
    opacity: 0.95;
    background-color: #513a4b;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: #513a4b;
    color: white;
}

#inner-box {
    background-color: #3d2d3a;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #3d2d3a;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;
}

#entry {
    background-color: #3a2c37;
}

#entry:nth-child(even){
    background-color: #493848;
}

#entry:selected {
    background-color: #E04265;
}

#text:selected {
    background: transparent;
}
