/* Based on https://github.com/alxndr13/wofi-nord-theme */

* {
    font-family: "Noto Sans";
}

window {
    opacity: 0.95;
    background-color: #3d4b61;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: #3d4b61;
    color: white;
}

#inner-box {
    background-color: #313e50;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #313e50;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;
}

#entry {
    background-color: #1e2530;
}

#entry:nth-child(even){
    background-color: #293342;
}

#entry:selected {
    background-color: #556988;
}

#text:selected {
    background: transparent;
}
